.dialogOuter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialogInner {
    background-color: #FFFFFF;
    min-width: 360px;
    min-height: 360px;
    border: 1px solid var(--color-border);
    z-index: 10100;
}
