body {
  --color-primary: #F2DAC3; // #FFE9D8
  --color-secondary: #9D5C0D;
  --color-highlight: #F1CA89;
  --color-bg: #FFFFFF;
  --color-text: #000000;
  --color-text-contrast: #FFFFFF;
  --color-text-contrast-pale: #E0E0E0;
  --color-border: #E0E0E0;

  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  user-select: none;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1 {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
}
