.screenView {
    height: 100vh;
}

.contentView {
    flex: 1;
    margin: 10px;
    overflow-y: auto;

    & p {
        margin: 5px 0 0 0;
    }
    & h1, h2, h3 {
        margin: 0;
    }
}

.editContentView {
    @extend .contentView;
    border: none;
    outline: 0 solid #000000;
    resize: none;
}

.editIcon {
    height: 18px;
    margin-right: 10px;
}
