.screenView {
    height: 100vh;
}

.displayView {
    flex: 1;
    margin: 10px;
    overflow-y: auto;
    user-select: text;
    line-height: 18px;
    word-break: break-word;
    word-wrap: break-word;

    & p {
        margin: 0;
    }
    & h1, h2, h3 {
        margin: 0;
    }
    & blockquote {
        padding: 0 1em;
        margin: 0;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
    }
    & ol {
        padding-left: 2em;
    }
    & ul {
        padding-left: 2em;
        margin: 0;
    }
    & pre {
        margin: 0;
    }
    & hr {
        color: transparent;
        border-bottom: 1px solid var(--color-border);
    }
}

.editContentView {
    @extend .displayView;
    border: none;
    outline: 0 solid #000000;
    resize: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.editIcon {
    height: 18px;
    margin-right: 10px;
}

