.foldersContainer {
    width: 100px;
    height: 100vh;
    background-color: var(--color-secondary);
    color: var(--color-text-contrast-pale);

}

.folderIcon {
    width: 45px;
    height: 45px;
}
