.noteEntry {
    height: 50px;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
        background-color: var(--color-highlight-pale);
        color: var(--color-text);
    }
}

.noteEntrySel {
    @extend .noteEntry;
    background-color: var(--color-highlight);
    color: var(--color-text);
    &:hover {
        background-color: var(--color-highlight-dark);
    }
}
