.foldersContainer {
    width: 70px;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-text-contrast-pale);
    font-size: 12px;
}

.folderListInner {
    overflow-x: hidden;
    overflow-y: fragments;

    /* Native wrappers are expected to use either Webkit or Gecko so it's fine. */
    scrollbar-width: thin; /* Firefox */
    &::-webkit-scrollbar {
        width: 2px;
    }
}

.folderBox {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;

    transition-property: background-color;
    transition-duration: 200ms;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.folderSel {
    @extend .folderBox;
    background-color: rgba(0, 0, 0, 0.15);

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.folderIcon {
    width: 30px;
    height: 30px;
}
