.base {
    width: 100%;
    height: 45px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.15);
        transition: background-color 300ms;
    }
}

.border {
    @extend .base;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 5px;
}


.fontSmall {
    font-size: 0.9rem;
}
.fontMedium {
    font-size: 1rem;
}
.fontLarge {
    font-size: 1.2rem;
}
