.input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
    font-size: 1rem;
    outline: none;
    &:focus {
        box-shadow: 0 0 6px 3px var(--color-highlight);
    }
}
